<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
<!-- Change these to be dropdowns -->
  <div class="field">
    <%= f.label :pick_up_id %>
    <%= f.select :pick_up_id, @locations.map{|x| ["#{x.city}, #{x.state}",x.id] } %>
  </div>
  <div class="field">
    <%= f.label :drop_off_id %>
    <%= f.select :drop_off_id, @locations.map{|x| ["#{x.city}, #{x.state}",x.id] } %>
  </div>
    <div class="field">

    <%= f.radio_button :duration, "1", checked: order.duration == 1 %> <%= f.label :duration, "Express" %>
    <%= f.radio_button :duration, "2", checked: order.duration == 2 %> <%= f.label :duration, "3-5 day" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<!-- , @locations.map{|x| ["#{x.city}, #{x.state}, x.id"] }  -->