<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Pick up:</strong>
  <%= @order.pick_up.city %>
</p>

<p>
  <strong>Drop off:</strong>
  <%= @order.drop_off.city %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @order.cost %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @order.vehicle %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
