<!DOCTYPE html>
<html>
  <head>
    <title>Shipments</title>
    <!-- <link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css"> -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
  <ul class="nav">
  <li class="active"><a href="/">Home</a></li>
  <li class="active"><a href="/users/sign_in">Login</a></li>
  <li class="active"><a href="/orders/new">Create Your Order</a></li>
  <li class="active"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
</ul>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
<!-- before_action :authenticate_user! -->